.Bd\(n\) {
  border: none;
}
.Bgc\(leftNavOverlayBgc\) {
  background-color: rgba(255, 255, 255, 0.8);
}
.Bgc\(engadgetGray\) {
  background-color: #414347;
}
.Bgc\(t\) {
  background-color: transparent;
}
.D\(f\) {
  display: flex;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(sa\) {
  justify-content: space-around;
}
.H\(2px\) {
  height: 2px;
}
.H\(100vh\) {
  height: 100vh;
}
.H\(35px\) {
  height: 35px;
}
.Mx\(20px\) {
  margin-left: 20px;
  margin-right: 20px;
}
.Mt\(3px\) {
  margin-top: 3px;
}
.Mstart\(-20px\) {
  margin-left: -20px;
}
.O\(n\) {
  outline: none;
}
.P\(0\) {
  padding: 0;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Rotate\(-45deg\) {
  transform: rotate(-45deg);
}
.Rotate\(45deg\) {
  transform: rotate(45deg);
}
.W\(100vw\) {
  width: 100vw;
}
.W\(20px\) {
  width: 20px;
}
.W\(35px\) {
  width: 35px;
}
@media screen and (max-width:1023px) {
  .H\(80px\)--md {
    height: 80px;
  }
}
@media screen and (max-width:767px) {
  .H\(60px\)--sm {
    height: 60px;
  }
}
