.Bd\(n\) {
  border: none;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(t\) {
  background-color: transparent;
}
.C\(engadgetBlack\) {
  color: #0b0c0d;
}
.C\(engadgetFontGray\) {
  color: #959799;
}
.C\(engadgetFontLightGray\) {
  color: #ababad;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(f\) {
  display: flex;
}
.D\(n\)\! {
  display: none !important;
}
.D\(n\) {
  display: none;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(fe\) {
  align-items: flex-end;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sa\) {
  justify-content: space-around;
}
.Ff\(\$ff-primary\) {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic Pro", Helvetica, Arial, sans-serif;
}
.Fz\(11px\) {
  font-size: 11px;
}
.H\(2px\) {
  height: 2px;
}
.H\(33px\) {
  height: 33px;
}
.H\(35px\) {
  height: 35px;
}
.H\(80px\) {
  height: 80px;
}
.M\(0\) {
  margin: 0;
}
.Mt\(5px\) {
  margin-top: 5px;
}
.Mend\(20px\) {
  margin-right: 20px;
}
.Mb\(3px\) {
  margin-bottom: 3px;
}
.O\(n\) {
  outline: none;
}
.End\(0\) {
  right: 0;
}
.Op\(0\.8\)\:h:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.P\(0\) {
  padding: 0;
}
.Pos\(a\) {
  position: absolute;
}
.Td\(n\) {
  text-decoration: none;
}
.W\(20px\) {
  width: 20px;
}
.W\(100vw\) {
  width: 100vw;
}
.W\(1235px\) {
  width: 1235px;
}
.W\(152px\) {
  width: 152px;
}
.W\(35px\) {
  width: 35px;
}
.W\(80px\) {
  width: 80px;
}
@media screen and (max-width:1259px) {
  .W\(980px\)--lg {
    width: 980px;
  }
}
@media screen and (max-width:1023px) {
  .C\(\#fff\)--md {
    color: #fff;
  }
  .D\(f\)\!--md {
    display: flex !important;
  }
  .Mx\(20px\)--md {
    margin-left: 20px;
    margin-right: 20px;
  }
  .T\(0\)--md {
    top: 0;
  }
  .Pos\(f\)--md {
    position: fixed;
  }
  .W\(100\%\)--md {
    width: 100%;
  }
  .Z\(2\)--md {
    z-index: 2;
  }
}
@media screen and (max-width:767px) {
  .H\(26px\)--sm {
    height: 26px;
  }
  .H\(60px\)\!--sm {
    height: 60px !important;
  }
  .W\(120px\)--sm {
    width: 120px;
  }
  .W\(60px\)\!--sm {
    width: 60px !important;
  }
}
