.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(engadgetBlack\) {
  background-color: #0b0c0d;
}
.Bgc\(engadgetPurple\) {
  background-color: #9a58b5;
}
.Bgc\(engadgetSteelGray\) {
  background-color: #2b2d32;
}
.Bgc\(\#414246\) {
  background-color: #414246;
}
.Bgc\(engadgetGray\) {
  background-color: #414347;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#ababad\) {
  color: #ababad;
}
.C\(engadgetBlack\) {
  color: #0b0c0d;
}
.C\(engadgetFontGray\) {
  color: #959799;
}
.C\(engadgetFontPurple\) {
  color: #915DB0;
}
.C\(\#959698\) {
  color: #959698;
}
.C\(engadgetBlack\)\:h:hover {
  color: #0b0c0d;
}
.C\(\#fff\)\:h:hover {
  color: #fff;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(f\) {
  display: flex;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(st\) {
  align-items: stretch;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sa\) {
  justify-content: space-around;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Fxw\(w\) {
  flex-wrap: wrap;
}
.Ff\(\$ff-primary\) {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic Pro", Helvetica, Arial, sans-serif;
}
.Fw\(400\) {
  font-weight: 400;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fz\(15px\) {
  font-size: 15px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(36px\) {
  font-size: 36px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(3px\) {
  height: 3px;
}
.H\(80px\) {
  height: 80px;
}
.Lh\(28px\) {
  line-height: 28px;
}
.Lh\(22px\) {
  line-height: 22px;
}
.M\(0\) {
  margin: 0;
}
.Mx\(20px\) {
  margin-left: 20px;
  margin-right: 20px;
}
.Mx\(10px\) {
  margin-left: 10px;
  margin-right: 10px;
}
.Mt\(10px\) {
  margin-top: 10px;
}
.Mt\(20px\) {
  margin-top: 20px;
}
.Mt\(40px\) {
  margin-top: 40px;
}
.Mt\(45px\) {
  margin-top: 45px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.Mb\(90px\) {
  margin-bottom: 90px;
}
.Mb\(5px\) {
  margin-bottom: 5px;
}
.Mstart\(30px\) {
  margin-left: 30px;
}
.Mstart\(5px\) {
  margin-left: 5px;
}
.Td\(n\) {
  text-decoration: none;
}
.Tren\(ol\) {
  text-rendering: optimizeLegibility;
}
.W\(100\%\) {
  width: 100%;
}
.W\(100vw\) {
  width: 100vw;
}
.W\(1235px\) {
  width: 1235px;
}
.W\(1px\) {
  width: 1px;
}
.W\(30px\) {
  width: 30px;
}
@media screen and (max-width:1259px) {
  .W\(980px\)--lg {
    width: 980px;
  }
}
@media screen and (max-width:1023px) {
  .C\(\#fff\)--md {
    color: #fff;
  }
  .D\(n\)--md {
    display: none;
  }
  .Fxg\(1\)--md {
    flex-grow: 1;
  }
  .Fld\(c\)--md {
    flex-direction: column;
  }
  .Ai\(fs\)--md {
    align-items: flex-start;
  }
  .Fw\(700\)--md {
    font-weight: 700;
  }
  .Fz\(14px\)--md {
    font-size: 14px;
  }
  .H\(100\%\)--md {
    height: 100%;
  }
  .Mx\(0\)--md, .Mstart\(0\)--md {
    margin-left: 0;
  }
  .Mx\(0\)--md {
    margin-right: 0;
  }
  .Mx\(20px\)--md {
    margin-left: 20px;
    margin-right: 20px;
  }
  .Mt\(20px\)--md {
    margin-top: 20px;
  }
  .Mt\(25px\)--md {
    margin-top: 25px;
  }
  .Mend\(10px\)--md {
    margin-right: 10px;
  }
  .Mb\(20px\)--md {
    margin-bottom: 20px;
  }
  .W\(100\%\)--md {
    width: 100%;
  }
}
@media screen and (max-width:767px) {
  .Mb\(30px\)--sm {
    margin-bottom: 30px;
  }
}
